AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=<value-from-workshop-studio>
AWS_SECRET_ACCESS_KEY=<value-from-workshop-studio>
AWS_SESSION_TOKEN=<value-from-workshop-studio>
NASA_API_KEY=DEMO_KEY
MOTOR_MQTT_HOST=broker.hivemq.com
MOTOR_MQTT_PORT=1883
MOTOR_MQTT_TOPIC=hackathon/replace-me/motor-board/cmd
MOTOR_CMD_TOKEN=replace-me
